body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Xanh Mono', monospace;
    background-image: url('dimmig_skog_svartvit_display.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.heading-wrapper {
    text-align: justify;
    width: 300px;
    border: none;
}

.heading-center {
    text-align: center;
}

.form-wrapper {
    background-color: none;
    padding: 20px;
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -30%);
    z-index: 2;
}

input[type = submit] {
    background-color: #660022;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Xanh Mono', monospace;
    text-decoration: double;
    color: white;
    padding: 5px 5px;
    margin: 0px 0px;
    cursor: pointer;
}

input[type = submit]:hover {opacity: 0.5}

.btn {
    background-color:#660022;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Xanh Mono', monospace;
    text-decoration: double;
    color: white;
    cursor: pointer;
    padding: 5px 5px;
    margin: 0px 0px;
    position: relative;
    left: 130px
}

.btn:hover {opacity: 0.5}


.buttons-wrapper {
    display: flex;
    width: 180px;
    background-color:none;
}

.position-wrapper {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wp-caption {
    position: relative;
    padding: 0;
    margin: 0;
}

.wp-caption img {
    display: block;
    border-radius: 8px;
    opacity: 0.1;
    width: 300px;
    height: 440px
}

.wp-caption:after {
    content: "";
    position: absolute;
    display: block;
    border-radius: 8px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.6) 100%) repeat 0 0;
    z-index: 1;
}

.wp-caption-text {
    display: block;
    position: absolute;
    width: 100%;
    color: black;
    left: 16px;
    bottom: 18px;
    padding: 1em;
    font-weight: 700;
    z-index: 2;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}