.w3-theme-l5 {color:#000 !important; background-color:#131313 !important} /* background */
.w3-theme-l4 {color:#000 !important; background-color:#a524bf !important}
.w3-theme-alert {color:rgb(255, 255, 255) !important; background-color:#ca1616 !important}
.w3-zalogowany {color:rgb(255, 255, 255) !important; background-color:green !important}
.w3-theme-col {color:rgb(255, 255, 255) !important; background-color:#2f2143 !important}
.w3-theme-pink {color:rgb(255, 255, 255) !important; background-color:#a524bf !important}
.w3-theme-grey {color:rgb(0, 0, 0) !important; background-color:#a0a0a0 !important}
.w3-theme-col-light {color:rgb(255, 255, 255) !important; background-color:#513874 !important}
.w3-theme-l3 {color:#000 !important; background-color:#becbd2 !important}
.w3-theme-l2 {color:#000 !important; background-color:#9eb1bb !important}
.w3-theme-l1 {color:#fff !important; background-color:#7d97a5 !important}
.w3-theme-d1 {color:#fff !important; background-color:#57707d !important}
.w3-theme-d2 {color:#fff !important; background-color:#2f2143 !important} /* navigation bar */
.w3-theme-d3 {color:#fff !important; background-color:#0f2631 !important}
.w3-theme-d4 {color:#fff !important; background-color:#3a4b53 !important}
.w3-theme-d5 {color:#fff !important; background-color:#af1818 !important}

.w3-theme-light {color:#000 !important; background-color:#f5f7f8 !important}
.w3-theme-dark {color:#fff !important; background-color:#303e45 !important}
.w3-theme-action {color:#fff !important; background-color:#303e45 !important}

.w3-theme {color:#fff !important; background-color:#607d8b !important}
.w3-text-theme {color:#607d8b !important}
.w3-border-theme {border-color:#607d8b !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#607d8b !important}
.w3-hover-pink:hover {color:#fff !important; background-color:#a524bf !important}
.w3-hover-text-theme:hover {color:#607d8b !important}
.w3-hover-border-theme:hover {border-color:#607d8b !important}

.my-page-name {
  font-family: 'Press Start 2P', cursive;
}

/* {box-sizing: border-box;} */

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #2f2143;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.container {
  position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.image-in-play {
  opacity: 0.5;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  border: 5px solid #a524bf;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.middle-rep {
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #2f2143;
  color: white;
  font-size: 16px;
}

.game-img {
  float: left;
  width: 250px;
  height: 250px;
  padding-right: 25px;
  padding-bottom: 0px;
}

.button-pos {
  cursor: pointer;
  position: relative;
  width: 280px;
}

.przycisk-dodaj {
  cursor: pointer;
  position: relative;
  background-color: green;
  color: white;
  font-size: 10px;
  border:none;
  display:inline-block;
  float: right;
  overflow:hidden;
  text-decoration:none;
  text-align:center;
  white-space:nowrap
}

.przycisk-usun {
  cursor: pointer;
  position: relative;
  background-color: red;
  color: white;
  font-size: 10px;
  border:none;
  display:inline-block;
  float: right;
  overflow:hidden;
  text-decoration:none;
  text-align:center;
  white-space:nowrap
}

.button-ban {
  cursor: pointer;
  position: relative;
  background-color: #c00101;
  color: white;
  font-size: 10px;
  border:none;
  display:inline;
  float: right;
  overflow:hidden;
  text-decoration:none;
  text-align:center;
  white-space:nowrap
}

.button-pass-change {
  cursor: pointer;
  position: relative;
  background-color: #c00101;
  color: white;
  font-size: 10px;
  border:none;
  display:inline;
  float: right;
  overflow:hidden;
  text-decoration:none;
  text-align:center;
  white-space:nowrap;
  width: 100%;
}

.button-pass-change:hover {
  background-color: white;
  color: black;
}

.button-add-friend:hover {
  background-color: white;
  color: black;
}

.button-ban:hover {
  background-color: white;
  color: black;
}

.btn-play-container {
  float: left;
  display: table;
  position: relative;
  padding-right: 25px;
}

.line {
  border: none;
  width: 100%;
  height: 10px;
  background-size: 40px 40px; background-color: #ffffff;
  position: relative;
}

.topnav {
  overflow: hidden;
  background-color: white;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #a524bf;
  color: WHITE;
}

.topnav a.active {
  background-color: #a524bf;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

.dropdown {
  float: left;
  overflow: hidden;
}


.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  width: 250px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.flexWrap {
  display: flex;
  width: 100%;
}
.flexCol {
  box-sizing: border-box;
  padding: 10px;
  width: 33.3%;
  background: none;
}

@media only screen and (max-width: 768px) {
  .flexWrap { flex-wrap: wrap; }
  .flexCol { width: 100%; }
}
